.btn {
    width: 180px;
    height: 40px;

    margin: 1rem;

    border-radius: 3px;
    background-color: #30a4bd;
    color: #FFF;
    border: none;
    
}

.btn:hover {
    background-color: #69d0e7;
    scale: 1.2;
}