:root {
  --color-tile: #1F4E78;
  --height-header: 200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #f8f8f8;
}

a {
  color: inherit;
  text-decoration: none;
}

/* RESET */
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}